* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -155px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 155px;
}
.text-align-icon{
    vertical-align:middle;
}
body > div > div {
    text-align: center;
}

body > div > div > div:nth-child(2) > div:nth-child(6) {
    float: left;
    padding: 8px;
}

body > div > div > div:nth-child(2) > div:nth-child(7) {
    float: left;
    padding: 8px;
}

body > div > div > div:nth-child(2) > div:nth-child(8) {
    float: left;
    padding: 8px;
}
